<%# navbar %>
<div class="container-fluid navigation-bar">
  <nav class="navbar navbar-expand-lg w-100 justify-content-between">
    <a class="navbar-brand" href="#">Moove</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to "Add list", new_list_path, class: "nav-link" %>
        </li>
      </ul>
  </nav>
</div>

<%# banner %>
<div class="container-fluid text-center">

  <div class="row justify-content-evenly p-5">
    <div class="col-lg-2">
      <h1>Yes, we put 'm in a <strong>list</strong>!</h1>
    </div>

    <div class="col-lg-4">
      <p>Your favorite movies, but this time, they're in a list! What's even better, they're in a list that you made. <br> Never lose sight of your guilty pleasures. Add your own lists and bookmark your favorite movies.</p>
    </div>
  </div>

</div>

<%# each list item %>
<div class="container-fluid">
  <div class="row justify-content-evenly">
    <% @lists.each do |list| %>
      <div class="col-2">
        <div class="card movie_card">
          <div class="card-body">
            <%= cl_image_tag list.photo.key, height: 200, width: 200, crop: :fill %>
            <h2 class="card-title pt-3"><%= list.name %></h2>
            <p><%= list.description %></p>
            <%= link_to "Show more", list_path(list), class: "btn btn-dark p-1"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
